/* ============= BASE ============= */
body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background: #56ccf2;  /* fallback for old browsers */
    background: linear-gradient(to bottom right, #56ccf2, #2f80ed);
    color:#1984ff;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}

.top-row span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.top-row a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

.middle-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 3rem;
    gap: 0.5rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.footer-links a:hover {
    color: #1b77f1;
}

.copyright {
    color: white;
}


/* ============= TIMER CARD ============= */
.timer-card {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 21rem;
    padding: 1rem;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 6rem 0 8rem 0;
}

.top-row span {
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

.session {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 1.3rem;
    margin: 2rem 0 1rem 0;
}

.timer {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #56ccf2, #2f80ed);
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.timer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
    margin-top: 0px;
}

.timer-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0 2rem 0;
    font-weight: 700;
    font-size: 0.9rem;
    gap: 30px;
}

.timer-settings p {
    align-self: center;
    margin-bottom: 10px;
}

.focus-session, .break-session {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}


/* ============= BUTTONS ============= */
.timer-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: -35px;
}

.timer-buttons button {
    background-color: white;
    color: #1b77f1;
    font-size: 1.7rem;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 4px 0 rgba(55, 142, 255, 0.704), 0 6px 20px 0 rgba(69, 100, 171, 0.19);
    transition: transform 0.3s ease;
}

.timer-buttons button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.timer-settings button {
    background-color: white;
    color: #1b77f1;
    font-size: 1rem;
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
    box-shadow: 0 1px 4px 0 rgba(55, 142, 255, 0.704), 0 6px 20px 0 rgba(69, 100, 171, 0.19);
    transition: 0.3s ease;
}

.timer-settings button:hover {
    cursor: pointer;
    color: white;
    background-color: #56ccf2;
}


/* ============= TOGGLE ============= */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    outline: 2px solid white;
    -webkit-transition: .4s;
    transition: .4s;
}

body[theme-mode="dark"] .slider {
    outline-color: #d4d4d4;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

body[theme-mode="dark"] .slider:before {
    background-color: #d4d4d4;
}

input:checked + .slider {
    background-color: #141e30;
}

input:focus + .slider {
    box-shadow: 0 0 1px #141e30;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ============= CONTACT PAGE ============= */
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    max-width: 30rem;
    background-color: white;
    margin: 3rem;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.contact-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
}
.contact-form input {
    height: 2rem;
    width: 80%;
    padding: 0.25rem;
    border: solid 1px lightgray;
    border-radius: 5px;
    padding-left: 10px;
}

.contact-form textarea {
    width: 80%;
    min-height: 150px;
    resize: vertical;
    padding: 0.25rem;
    border-radius: 5px;
    padding-left: 10px;
    border: solid 1px lightgray;
}

.contact-form button {
    background-color: #2f80ed;
    border: none;
    padding: 10px 20px;
    color:white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.3s ease;
    font-size: 1rem;
}

.contact-form button:hover {
    background-color: #1268d9;
    cursor: pointer;
}

.contact-form textarea,
.contact-form input {
    font-family: "Quicksand", sans-serif;
    color: #141e30;
}

.custom-alert {
    position: relative;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background-color: #1984ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

.custom-alert strong {
    margin-right: 0.5rem;
}

.close-alert {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.607);
    cursor: pointer;
    line-height: 1;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}



/* ============= ABOUT PAGE ============= */
.about-page {
    max-width: 35rem;
    margin: 3rem 1rem;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-weight: 500;
    color: #333;
}

.about-page h1, .about-page h2 {
    margin-bottom: 1rem;
    color: #2f80ed;
}

.about-page p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.about-page ul {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.about-page ul li {
    margin-bottom: 0.5rem;
}


/* ============= FAQ PAGE ============= */
.faq-container {
    max-width: 35rem;
    margin: 3rem 1rem;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #2f80ed;
}

.faq-container a {
    color: #1984ff;
    text-decoration: none;
    cursor: pointer;
}

.faq-container a:hover {
    color: #243b55;
}

.faq-intro {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #243b55;
}

.faq-item {
    margin-bottom: 1.8rem;
}

.faq-item h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.faq-item p {
    font-size: 1rem;
    line-height: 1.6;
    color: #243b55;
}


/* ============= DARK THEME ============= */
body[data-theme="dark"] {
    color: #e0e0e0;
    background: linear-gradient(to top right, #141e30, #243b55);
}

body[data-theme="dark"] .timer-card {
    background-color: #243b55;
}

body[data-theme="dark"] .timer {
    background: linear-gradient(to top right, #141e30, #243b55);
}


body[data-theme="dark"] .timer-buttons button {
    background-color: #d4d4d4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #2b2b2b;
}

body[data-theme="dark"] .timer-settings button {
    background-color: #d4d4d4;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #2b2b2b;
}

body[data-theme="dark"] .timer-settings button:hover {
    background-color: #878787;
    color: white;
}

body[data-theme="dark"] .footer-links a,
    .bottom-row {
    color: #d4d4d4;
}

body[data-theme="dark"] .footer-links a:hover {
    color: #243b55;
}

body[data-theme="dark"] .copyright {
    color: #d4d4d4;
}

body[data-theme="dark"] .contact-form {
    background-color: #243b55;
}

body[data-theme="dark"] .contact-form input {
    background-color: #d4d4d4;
}

body[data-theme="dark"] textarea {
    background-color: #d4d4d4;
}

body[data-theme="dark"] .contact-form  button {
    background-color:#d4d4d4;
    color:#243b55;
}

body[data-theme="dark"] .contact-form button:hover {
    background-color: #878787;
    color: #d4d4d4;
}

[data-theme="dark"] .about-page {
    background-color: #243b55;
    color: #d4d4d4;
}

[data-theme="dark"] .about-page h1, 
[data-theme="dark"] .about-page h2 {
    color: #d4d4d4;
}

[data-theme="dark"] .faq-container {
    background-color: #243b55;
    color: #d4d4d4;
}

[data-theme="dark"] .faq-item p,
[data-theme="dark"] .faq-intro,
[data-theme="dark"] .faq-container a:hover {
    color: #d4d4d4;
}
